link {
}

/*Разметка контейнера*/
.container {
	margin: 0 auto ;
	width: 100%;
	max-width: 1000px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main {
    flex: 1 0 auto;
}
/*Разметка головы*/
.header {
	height: 100px;
    background-color: #097527;
}
.intro {
    font-size: 30px;
    padding-top: 33px;
    float: left;
}
.logo {
    float: left;
    padding-top: 12px;
    margin-left: 25px;
}
.logo i {
    font-size: 75px;
    color:white;
}
/*Разметка зоны карт*/
article {
    margin-top: 30px;
	display: flex;
    float: left;
    margin-left: 55px;
}
/*Тело карточки*/
.item {
	width: 200px;
	justify-content: center;
	box-shadow:5px 2px 4px grey;
    height: 350px;
    border-radius: 25px;
    background-color: #eaf6fd;
}

h1 {
    padding: 24px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
}

h3 {
    padding: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:black;
}
p {
    margin-top: 25px;
    text-align: justify;
    padding: 24px;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

.head {
	height: 50px;
	background-color: #097527;
	border-radius:  25px 25px 0px 0px;
}

.footer.foot {
    height: 50px;
    background-color: #097527;
    border-radius: 0px 0px 25px 25px;
    margin-top: 17px;
}
a {
    text-decoration: none;
}
/* анимация нажатия карт*/
a:active {
    position: relative;
    
}
.item:active {
    box-shadow:1px 1px 1px grey; 
}
.icons {
    float: left;
    border-radius: 50%;
    line-height: 67px;
    margin-left: 126px;
    margin-top: -25px;
    text-align: center;
    color: black;
    font-size: 45px;
}

/* Пример анимации
.item:hover {
    box-shadow:6px 7px 4px grey;
    transition: 1s;
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
  from {
    max-width: 200px;
    height: 350px;
  }

  to {
    max-width: 210px;
    height: 360px;
  }
} */


.fixa {
    margin-left: 55px;
}

/*Cайд с навигацией*/
aside {
    width: 205px;
    padding: 40px 0 40px;
    list-style-type: none;
    text-align: right;
    float: left;
    border-right: 10px;
}

li {
    width: 160px;
    height: 50px;
    margin: 10px auto;
    background-color: #f76270;
    text-align: center;
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif;
    box-shadow:5px 2px 4px grey;
    transition: background-color 0.5s ease;
}
/*Поведение кнопок при нажатии и наведении*/
.item:hover {
    box-shadow:5px 2px 20px grey;
}
li:hover {
    box-shadow:5px 2px 20px grey;
    transition: box-shadow 0.2s ease;
    font-size: 17px;
}
li:active {
    box-shadow:1px 1px 1px grey;
    font-size: 16px;
}
.icon:hover {
    font-size: 42px;
}
/*Заголовок на кнопках*/
h2{
    padding-top:17px;
    color: white;
    display: inline-block;
}
/*Заголовок с иконкой*/
.icon {
    font-size: 40px;
    color: white;
    padding-right: 50px;
    padding-top: 5px;
}
.ccc {
    position: relative;
    top:-9px;
    left:0px;
}
/*Разметка подвала*/
.footer {
    margin-top: 20px;
    height: 10px;
    background-color: #097527;
     flex: 0 0 auto;
}
@media screen and (min-width: 700px) {
    .article {
    display: flex;
    flex-direction: column;
    }
}